.wp-block-file {
	// Undo Gutenberg hover defaults
	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover,
	a.wp-block-file__button:visited {
		// color: var(--color-2);
		opacity: inherit;
	}

	a:hover,
	a:focus {
		color: var(--color-link-hover);
		background: none;
		box-shadow: none;
	}
	a:after {
		content: '';
		display: block;
	}

	a.wp-block-file__button {
		// Extend button style
		display: inline-block;
		color: var(--color-background);
		cursor: pointer;
		font-weight: 500;
		font-size: rem(14px);
		background-color: var(--color-foreground);
		border: 0;
		border-radius: 0;
		text-decoration: none;
		margin: calc( 0.5 * #{rem(16px)} ) 0 0 0;
		padding: rem(8px) rem(16px);
		transition: all 0.1s ease-out;

		&:hover,
		&:focus {
			color: var(--color-background);
			background: var(--color-foreground);
			box-shadow: 0 -1px 0 5px var(--color-foreground);
		}
	}
}
