.wp-block-pullquote {
	padding: calc( 2 * #{rem(16px)} ) 0;
	text-align: left;
	color: var(--color-foreground);
	border: 0;

	p {
		font-family: var(--font-family-display);
		font-size: var(--font-size-lg);
		font-weight: 300;
		line-height: 1;
		margin: 0;

		@include break-xs {
			font-size: var(--font-size-xl);
		}
		@include break-m {
			font-size: var(--font-size-xxl);
		}
	}

	a {
		color: currentColor;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		color: currentColor;
		display: block;
		font-size: var(--font-size-xs);
		text-transform: none;
	}

	/**
	 * Block Options
	 */
	&.alignleft,
	&.alignright {
		padding: rem(16px);
		margin-bottom: rem(16px);
		display: none;

		@include  break-xs {
			padding: rem(16px) 0;
		}
		
		@include break-l {
			display: block;
		}

		p {
			font-size: var(--font-size-sm);

			@include  break-xs {
				font-size: var(--font-size-md);
			}
		}

		a {
			border: 0;
			text-decoration: underline;
		}
	}

	.entry-content &.alignleft {
		margin-left: 0;

		@include  break-xs {
			margin-right: rem(16px);
		}
	}

	.entry-content &.alignright {
		margin-right: 0;
		
		@include  break-xs {
			margin-left: rem(16px);
		}
	}

	&:not(.is-style-solid-color) {
		background: none;
	}

	&.is-style-large {
		border-left-color: var(--color-foreground);
		border-left-style: solid;
		border-left-width: var(--quote--border-width);
		font-style: normal;
	}

	&.alignwide > p,
	&.alignwide blockquote {
		max-width: var(--responsive--alignwide-width);

	}
	&.alignfull:not(.is-style-solid-color) > p,
	&.alignfull:not(.is-style-solid-color) blockquote {
		padding: 0 calc( 2 * #{rem(16px)} );
	}

	&.is-style-solid-color {

		background-color: var(--pullquote--color-foreground);
		color: var(--pullquote--color-background);
		padding: calc( 2 * #{rem(16px)} );

		blockquote {
			max-width: inherit;

			p {
				font-family: var(--font-family-serif);
				font-size: var(--font-size-base);
				line-height: 1.5;
				font-style: italic;

				@include break-xs {
					font-size: var(--font-size-md);
				}
				@include break-m {
					font-size: var(--font-size-lg);
				}
			}
		}

		.wp-block-pullquote__citation,
		cite,
		footer {
			color: currentColor;
		}
	}
}
