blockquote {
	margin: 0;
	padding: 0;

	p {
		font-size: var(--font-size-lg);
	}

	cite,
	footer {
		color: var(--color-foreground);
		font-size: var(--font-size-xs);
	}

	& > * {
		margin-top: rem(16px);
		margin-bottom: rem(16px);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.alignleft,
	&.alignright {

		padding-left: inherit;

		p {
			font-size: var(--font-size-md);
			max-width: inherit;
			width: inherit;
		}

		cite,
		footer {
			font-size: var(--font-size-xs);
		}
	}
}
