// Editor UI font styles
.wp-block.block-editor-default-block-appender > textarea {
	font-family: var(--font-family-serif);
	font-size: var(--global--font-size-base);
}

/* Custom text colors */
.has-primary-color.has-primary-color[class] {
	color: var(--color-1);
}

.has-secondary-color.has-secondary-color[class] {
	color: var(--color-2);
}

.has-tertiary-color.has-tertiary-color[class] {
	color: var(--color-3);
}

.has-quaternary-color.has-quaternary-color[class] {
	color: var(--color-4);
}

.has-background-color.has-background-color[class] {
	color: var(--color-5);
}


/* Custom background colors */
.has-primary-background-color[class],
.has-secondary-background-color[class],
.has-tertiary-background-color[class],
.has-quaternary-background-color[class] {
	&:not(.has-text-color) {
		color: var(--color-5);
	}

	&:not(.has-link-color) {
		a:not(.wp-block-button__link) {
			color: var( --wp--style--color--link, var(--color-5) );
	
			&:hover,
			&:focus {
				color: var(--color-1);
				background: var(--color-5);
				box-shadow: 0 rem(-1px) 0 .5em var(--color-5);
			}
		}
	}
}

.has-primary-background-color[class] {
	background-color: var(--color-1);
}

.has-secondary-background-color[class] {
	background-color: var(--color-2);
}

.has-tertiary-background-color[class] {
	background-color: var(--color-3);
}

.has-quaternary-background-color[class] {
	background-color: var(--color-4);
}

.has-background-background-color[class] {
	background-color: var(--color-5);

	&:not(.has-text-color) {
		color: var(--color-1);
	}
}

// Gutenberg Font-size utility classes
.is-tiny-text,
.has-tiny-font-size {
	font-size: rem(12px);
}

.is-small-text,
.has-small-font-size {
	font-size: var(--font-size-sm);
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: var(--font-size-base);
}

.is-large-text,
.has-large-font-size {
	font-size: var(--font-size-md);
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: var(--font-size-lg);
}

// Drop cap
// Drop caps
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--font-family-display);
	font-size: rem(76px);
	font-weight: 500;
	line-height: 0.7;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: rem(12px) rem(12px) 0 0;
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: rem(14px);
}

.desktop-only {
	display: none;

	@include break-xs {
		display: block;
	}
}

/**
 * Spacing Overrides
 */

 @import "spacing-overrides";

[data-block] {
	margin-top: rem(40px);
	margin-bottom: rem(40px);
}

// /*
//  * Custom gradients
// */
// .has-hard-diagonal-gradient-background {
// 	background: linear-gradient(to bottom right, var(--global--color-secondary) 49.9%, var(--global--color-tertiary) 50%);
// }

// .has-hard-diagonal-inverted-gradient-background {
// 	background: linear-gradient(to top left, var(--global--color-secondary) 49.9%, var(--global--color-tertiary) 50%);
// }

// .has-diagonal-gradient-background {
// 	background: linear-gradient(to bottom right, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-diagonal-inverted-gradient-background {
// 	background: linear-gradient(to top left, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-hard-horizontal-gradient-background {
// 	background: linear-gradient(to bottom, var(--global--color-secondary) 50%, var(--global--color-tertiary) 50%);
// }

// .has-hard-horizontal-inverted-gradient-background {
// 	background: linear-gradient(to top, var(--global--color-secondary) 50%, var(--global--color-tertiary) 50%);
// }

// .has-horizontal-gradient-background {
// 	background: linear-gradient(to bottom, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-horizontal-inverted-gradient-background {
// 	background: linear-gradient(to top, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-stripe-gradient-background {
// 	background: linear-gradient(to bottom, transparent 20%, var(--global--color-secondary) 20%, var(--global--color-secondary) 80%, transparent 80%);
// }

/* Block Alignments */
.wp-block {

	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
	// This line overrides it to use the responsive spacing rules for default width content
	max-width: var(--responsive--aligndefault-width);

	// Use the theme's max-width for wide alignment.
	&[data-align="wide"],
	&.alignwide {
		max-width: var(--responsive--alignwide-width);
	}

	&[data-align="full"],
	&.alignfull {
		max-width: none;
	}
}

// Selects the post editor and not the site editor
// .block-editor-block-list__layout:not(.edit-site-block-editor__block-list){
// 	.wp-block {
// 		&[data-align="full"],
// 		&.alignfull {
// 			&>[data-block] {
// 				margin-top: 0;
// 				margin-bottom: 0;
// 			}
// 		}
// 	}
// }

// .alignleft {
// 	margin: 0;
// 	margin-right: var(--global--spacing-horizontal);
// }

// .alignright {
// 	margin: 0;
// 	margin-left: var(--global--spacing-horizontal);
// }
