/* Block Alignments */

/**
 * These selectors set the default max width for content appearing inside a post or page.
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce),
.entry-content > #pico > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce),
*[class*="inner-container"] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce),
.wp-block-template-part > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce) {
	@extend %responsive-aligndefault-width;
}

/**
* .alignleft
*/
.alignleft {
	/*rtl:ignore*/
	text-align: left;
	margin-top: 0;
}
 

// Targeting the .entry-content class is necessary to ensure these styles
// only apply when the block isn't nested.
.entry-content > .alignleft {
	max-width: var(--responsive--aligndefault-width);
}

@include break-xs {

	.alignleft {

		/*rtl:ignore*/
		float: left;

		/*rtl:ignore*/
		margin-right: rem(24px);
		margin-bottom: rem(40px);
	}

	.entry-content > .alignleft {
		max-width: var(--responsive--alignrightleft-width);
		/*rtl:ignore*/
		margin-left:  calc( 50% - var(--responsive--alignrightleft-width));
		/*rtl:ignore*/
		margin-right: rem(24px);
	}
}

/**
 * .aligncenter
 */
.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/**
 * .alignright
 */
.alignright {
	margin-top: 0;
	margin-bottom: rem(40px);
}

// Targeting the .entry-content class is necessary to ensure these styles
// only apply when the block isn't nested.
.entry-content > .alignright {
	max-width: var(--responsive--aligndefault-width);
}

@include break-xs {

	.alignright {

		/*rtl:ignore*/
		float: right;

		/*rtl:ignore*/
		margin-left: rem(24px);
	}

	.entry-content > .alignright {
		max-width: var(--responsive--alignrightleft-width);
		/*rtl:ignore*/
		margin-left: rem(24px);
		/*rtl:ignore*/
		margin-right: calc( 50% - var(--responsive--alignrightleft-width));
	}
}

// Make sure siblings of floated elements are top-aligned when nested
[class*="inner-container"] > .alignleft + *,
[class*="inner-container"] > .alignright + * {
	margin-top: 0;
}

/**
 * .alignwide
 */
.alignwide {
	clear: both;
	@extend %responsive-alignwide-width;
}

.alignwide [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-width-nested;
}

/**
 * .alignfull
 */
.alignfull {
	clear: both;
	@extend %responsive-alignfull-width;

	.alignfull {
		@extend %responsive-alignwide-width-nested;
	}
}

.alignfull [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-width-nested;
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}

// Parallax
.has-parallax {
	background-attachment: fixed;
}



/* Custom text colors */

.has-primary-color.has-primary-color[class] {
	color: var(--color-1);
}

.has-secondary-color.has-secondary-color[class] {
	color: var(--color-2);
}

.has-tertiary-color.has-tertiary-color[class] {
	color: var(--color-3);
}

.has-background-color.has-background-color[class] {
	color: var(--color-5);
}


/* Custom background colors */

.has-primary-background-color[class] {
	background-color: var(--color-1);

	&:not(.has-text-color) {
		color: var(--color-5);
	}
}

.has-secondary-background-color[class] {
	background-color: var(--color-2);

	&:not(.has-text-color) {
		color: var(--color-5);
	}
}

.has-tertiary-background-color[class] {
	background-color: var(--color-3);

	&:not(.has-text-color) {
		color: var(--color-5);
	}
}

.has-background-background-color[class] {
	background-color: var(--color-5);

	&:not(.has-text-color) {
		color: var(--color-1);
	}
}



// Gutenberg Font-size options
:root {
	.is-tiny-text,
	.has-tiny-font-size {
		font-size: rem(12px);
	}

	.is-small-text,
	.has-small-font-size {
		font-size: var(--font-size-sm);
	}

	.is-regular-text,
	.has-regular-font-size,
	.has-normal-font-size,
	.has-medium-font-size {
		font-size: var(--font-size-base);
	}

	.is-large-text,
	.has-large-font-size {
		font-size: var(--font-size-md);
	}

	.is-larger-text,
	.has-larger-font-size,
	.has-huge-font-size {
		font-size: var(--font-size-lg);
	}
}

// Drop caps
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--font-family-display);
	font-size: rem(76px);
	font-weight: 500;
	line-height: 0.7;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: rem(12px) rem(8px) 0 0;
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: rem(14px);
}

.desktop-only {
	display: none;

	@include break-xs {
		display: block;
	}
}

/**
 * Spacing Overrides
 */

@import "spacing-overrides";

/*
 * Custom gradients
*/
// .has-hard-diagonal-gradient-background {
// 	background: linear-gradient(to bottom right, var(--global--color-secondary) 49.9%, var(--global--color-tertiary) 50%);
// }

// .has-hard-diagonal-inverted-gradient-background {
// 	background: linear-gradient(to top left, var(--global--color-secondary) 49.9%, var(--global--color-tertiary) 50%);
// }

// .has-diagonal-gradient-background {
// 	background: linear-gradient(to bottom right, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-diagonal-inverted-gradient-background {
// 	background: linear-gradient(to top left, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-hard-horizontal-gradient-background {
// 	background: linear-gradient(to bottom, var(--global--color-secondary) 50%, var(--global--color-tertiary) 50%);
// }

// .has-hard-horizontal-inverted-gradient-background {
// 	background: linear-gradient(to top, var(--global--color-secondary) 50%, var(--global--color-tertiary) 50%);
// }

// .has-horizontal-gradient-background {
// 	background: linear-gradient(to bottom, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-horizontal-inverted-gradient-background {
// 	background: linear-gradient(to top, var(--global--color-secondary), var(--global--color-tertiary));
// }

// .has-stripe-gradient-background {
// 	background: linear-gradient(to bottom, transparent 20%, var(--global--color-secondary) 20%, var(--global--color-secondary) 80%, transparent 80%);
// }