.wp-block-media-text {

	.wp-block-media-text__content {
		padding: rem(24px);

		@include break-m {
			padding: rem(40px);
		}

		& > * {
			margin-top: calc( 0.666 * #{rem(40px)} );
			margin-bottom: calc( 0.666 * #{rem(40px)} );

			@include break-xs {
				margin-top: rem(40px);
				margin-bottom: rem(40px);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/**
	 * Block Options
	 */

	&.is-stacked-on-mobile .wp-block-media-text__content {
		@include break-xs {
			padding-top: rem(40px);
			padding-bottom: rem(40px);
		}
	}
}
