.wp-block-navigation {
	.wp-block-navigation-link {
		padding: 0;

		.wp-block-navigation-link__content {
			padding: rem(16px);
		}

		.wp-block-navigation-link__label {
			font-size: var(--font-size-sm);
		}
	}

	.wp-block-navigation-link__submenu-icon {
		padding: 0;
	}

	// Top level navigation container.
	> .wp-block-navigation__container {
		.has-child {
			.wp-block-navigation-link {
				display: inherit;
			}

			.wp-block-navigation__container {
				border: none;
				left: 0;
				margin-left: rem(16px);
				//min-width: max-content;
				opacity: 0;
				padding: 0;
				position: inherit;
				top: inherit;

				.wp-block-navigation-link {
					.wp-block-navigation-link__content {
						display: inline-block;
						padding: calc( 0.5 * #{rem(16px)} ) #{rem(16px)};
					}
				}

				.wp-block-navigation-link__submenu-icon {
					display: none;
				}
			}
			&:hover, &:focus-within {
				.wp-block-navigation__container {
					display: block;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	> .wp-block-navigation__container {
		> .has-child {
			> .wp-block-navigation__container {
				background: var(--color-background);
				box-shadow: 1px 1px 3px 0px rgba( 0, 0, 0, 0.2 );
				margin: 0;
				padding: 0;
				position: absolute;
				top: 100%;
			}
		}
	}

	&:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link:not(.has-text-color) {
		color: var(--color-foreground);
	}

	&:not(.has-text-color){
		.wp-block-navigation-link {
			> a {
				&:hover, &:focus {
					color: var(--color-2);
				}
			}
		}

		.wp-block-navigation-link__content {
			color: currentColor;
		}
	}
}
