.widget-area {
	// Ignore flexbox
	flex: 0 0 100%;
}


.footer-widget-1 {
	.widget {
		margin: 0;
	}

	// .alignwide {
	// 	margin: var(--page-margin);
	// 	max-width: none;
	// }
}

// Search widget styles
.search-form {
	display: flex;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		display: flex;
		margin-right: rem(24px);
		width: 100%;
		.search-field {
			width: 100%;
		}
	}
}

// Issue number
.issue-number .widget:first-of-type {
	margin-top: 0;	
}