// Site branding

.site-branding {
	color: var(--color-foreground);
	text-align: center;
	margin-bottom: 0;
}

// Site title

.site-title {
	color: var(--color-foreground);
	font-family: var(--font-family-display);
	font-size: var(--font-size-xl);
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	margin-top: rem(40px);
	margin-bottom: 0;

	a {
		background-image: linear-gradient(to right, var(--color-background) 100%, transparent 100%);
		background-position: 0 1.22em;
		background-repeat: repeat-x;
		background-size: 8px 1.5px;
		border-bottom: none;
		color: currentColor;
		font-weight: 600;
		text-shadow:
			1px 0px var(--color-background),
			-1px 0px var(--color-background),
			-2px 0px var(--color-background),
			2px 0px var(--color-background),
			-3px 0px var(--color-background),
			3px 0px var(--color-background),
			-4px 0px var(--color-background),
			4px 0px var(--color-background),
			-5px 0px var(--color-background),
			5px 0px var(--color-background);
		transition: background-size 0.1s ease-out;

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--color-link-hover);
			background-size: rem(8px) 0px;
		}
	}

	@include break-xs {
		font-size: var(--font-size-xxxl);

		a {
			background-size: rem(8px) rem(2px);
		}
	}

	@include break-l {
		font-size: var(--font-size-xxxxl);
	}
}

// Site description
.site-description {
	color: currentColor;
	font-size: var(--font-size-sm);
}

a.custom-logo-link,
nav a {
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.site-title > a {
	text-underline-width: .125em;
	text-decoration-color: var(--color-2);
}

// Site logo

.site-logo {
	margin: calc( #{rem(40px)} / 2 ) #{rem(24px)};
	text-align: center;

	.custom-logo {
		max-width: rem(120px);
		max-height: rem(120px);
		height: auto;

		@include break-xs {
			max-width: rem(96px);
		max-height: rem(96px);
		}
	}
}

.default-logo {
	display: inline-block;
	border: none;
	position: relative;
	z-index: 1;
	max-width: 60%;
	margin-top: 0;
	
	@include break-xs {
		max-width: 50%;
		margin-top: rem(96px);
	}
	
	@include break-l {
		margin-top: 0;
	}
	
	&.is-compact {
		max-width: rem(160px);
		margin-top: rem(32px);

		@include break-xs {
			max-width: 50%;
			margin-top: rem(96px);
		}
		
		@include break-l {
			margin-top: rem(5px);
		}
	}
}
