.site-header {
  background: var(--color-background);
	padding-top: rem(36px);
	padding-bottom: rem(16px);

	.has-main-navigation & {
		padding-top: rem(36px);
	}

	.page-template-pageDark &,
	.page-template-pageDarkNoHeading &,
	.page-template-pageFancyDark & {
		margin: var(--page-margin) var(--page-margin) 0;
	}

	.home & {
		padding-top: rem(56px);
	}

	@include break-m {
		padding-bottom: rem(64px);
	}
	@include break-l {
		padding-bottom: rem(72px);
	}
}