@import 'base';
@import "text-selection";
@import '../structure/responsive-logic';

body {
	--wp--typography--line-height: 1.9;
	color: var(--color-foreground);
	background-color: var(--color-background);
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding: var(--page-margin);
}

// Set font size of title block the same as body.
.editor-post-title__block.editor-post-title__block {
	font-size: var(--font-size-base);
	padding-top: rem(40px);
	max-width: rem(1000px);
	margin: 0 auto;
}
