// Text selection background color

::selection {
	color: #FFFEFA !important;
	background-color: #5a2f67!important;
}
::-moz-selection {
	color: #FFFEFA !important;
	background-color: #5a2f67!important;
}
