/**
 * Required Variables
 */
@media only screen and (min-width: 482px) {
	.primary-navigation.primary-navigation.primary-navigation {
		position: absolute;
		top: 32px;
		right: 40px;
		left: 40px;
		margin-top: 0;
	}
	.page-template-pageDark .primary-navigation.primary-navigation.primary-navigation {
		top: 72px;
		right: 80px;
		left: 80px;
	}
	.admin-bar .primary-navigation.primary-navigation.primary-navigation {
		top: 64px;
		right: 40px;
		left: 40px;
	}
	.admin-bar.page-template-pageDark .primary-navigation.primary-navigation.primary-navigation {
		top: 104px;
		right: 80px;
		left: 80px;
	}
	.primary-navigation.primary-navigation.primary-navigation .primary-menu-container {
		width: 100%;
	}
	.primary-navigation.primary-navigation.primary-navigation .primary-menu-container > ul > li:last-child {
		margin-right: auto;
	}
	.primary-navigation.primary-navigation.primary-navigation .primary-menu-container > ul > li:last-child a {
		border: 2px solid var(--global--color-primary);
		display: inline-block;
		padding: 5px 14px 0;
		margin-top: -5px;
		transition: all .1s ease-in-out;
		box-shadow: 0 0 0 2px transparent;
	}
	.primary-navigation.primary-navigation.primary-navigation .primary-menu-container > ul > li:last-child a:hover, .primary-navigation.primary-navigation.primary-navigation .primary-menu-container > ul > li:last-child a:active, .primary-navigation.primary-navigation.primary-navigation .primary-menu-container > ul > li:last-child a:focus {
		background: var(--global--color-primary);
		color: var(--global--color-background);
	}
}

.menu-button-container.menu-button-container {
	top: 13px;
}

.admin-bar .menu-button-container.menu-button-container {
	top: 60px;
	left: 13px;
}

.menu-button-container.menu-button-container #primary-open-menu {
	padding: 12px 16px;
}

.admin-bar.lock-scrolling .menu-button-container.menu-button-container > .button,
.admin-bar:not(.primary-navigation-open) .menu-button-container.menu-button-container {
	top: 60px;
}

#site-navigation + .menu-button-container.menu-button-container {
	left: 13px;
}

.menu-button-container .button.button,
.primary-navigation .button.button,
.woo-navigation .button.button {
	font-size: 13px;
	color: var(--global--color-primary);
}

.menu-button-container .button.button.close,
.primary-navigation .button.button.close,
.woo-navigation .button.button.close {
	left: 13px;
	top: 13px;
}

.admin-bar .menu-button-container .button.button.close, .admin-bar
.primary-navigation .button.button.close, .admin-bar
.woo-navigation .button.button.close {
	top: -32px;
}

.primary-navigation-open.primary-navigation-open .menu-button-container #primary-close-menu, .primary-navigation-open.primary-navigation-open
.primary-navigation #primary-close-menu, .primary-navigation-open.primary-navigation-open
.woo-navigation #primary-close-menu {
	padding: 12px 16px;
}

.primary-navigation-open.primary-navigation-open .menu-button-container .primary-menu-container, .primary-navigation-open.primary-navigation-open
.primary-navigation .primary-menu-container, .primary-navigation-open.primary-navigation-open
.woo-navigation .primary-menu-container {
	padding: 80px 40px;
}

.primary-navigation .menu-item > a,
.woo-navigation .menu-item > a {
	font-family: var(--global--font-primary);
	font-size: 24px;
	color: var(--global--color-white);
}

.primary-navigation .menu-item > a:focus,
.woo-navigation .menu-item > a:focus {
	color: var(--global--color-primary);
}

.primary-navigation a,
.woo-navigation a {
	color: var(--global--color-primary);
}

.primary-navigation a + svg,
.woo-navigation a + svg {
	fill: currentColor;
}

.primary-navigation a:hover, .primary-navigation a:link, .primary-navigation a:visited,
.woo-navigation a:hover,
.woo-navigation a:link,
.woo-navigation a:visited {
	color: var(--global--color-primary);
}

.page-template-pageDark .primary-navigation,
.page-template-pageDark .woo-navigation {
	color: var(--global--color-primary) !important;
}

.page-template-pageDark .primary-navigation .menu-item > a:hover,
.page-template-pageDark .woo-navigation .menu-item > a:hover {
	color: var(--global--color-primary);
	border-color: var(--global--color-primary);
}

.page-template-pageDark .primary-navigation .menu-item > a:focus,
.page-template-pageDark .woo-navigation .menu-item > a:focus {
	color: var(--global--color-primary);
}

.page-template-pageDark .primary-navigation .menu-item > a:active,
.page-template-pageDark .woo-navigation .menu-item > a:active {
	color: var(--global--color-primary);
}