@charset "UTF-8";
/**
 * These styles should be loaded by the Block Editor only
 */
/* 
Breakpoint mixin - about as simple as it gets and mobile first
*/
/**
 * Config
 * - It's all here, pals
 */
:root {
	--font-family-display: 'Teko', sans-serif;
	--font-family-serif: Bitter, serif;
	--font-size-xs: 0.875rem;
	--font-size-sm: 1rem;
	--font-size-base: 0.875rem;
	--font-size-md: 1.5rem;
	--font-size-lg: 2rem;
	--font-size-xl: 2.5rem;
	--font-size-xxl: 4rem;
	--font-size-xxxl: 6.5rem;
	--font-size-xxxxl: 8rem;
	--page-margin: 1rem;
	--color-1: #150619;
	--color-2: #5a2f67;
	--color-3: #D33838;
	--color-4: #50B28C;
	--color-5: #FFFEFA;
	--color-foreground: var(--color-1);
	--color-background: var(--color-5);
	--color-link-hover: var(--color-2);
	--color-form-focus: #AE55C9;
}

@media (min-width: 480px) {
	:root {
		--font-size-base: 1.125rem;
	}
}

@media (min-width: 480px) {
	:root {
		--page-margin: 2.5rem;
	}
}

:root .page-template-pageDark {
	--color-foreground: var(--color-5);
	--color-background: var(--color-1);
	--color-link-hover: var(--color-4);
}

/**
 * Reset specific elements to make them easier to style in other contexts.
*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/**
* Apply generic border-box to all elements.
* See:
* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
/**
* Apply border-box across the entire page.
*/
html {
	box-sizing: border-box;
}

/**
* Relax the definition a bit, to allow components to override it manually.
*/
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: var(--color-5);
	color: var(--color-1);
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	line-height: 1.5;
}

@media (min-width: 480px) {
	body {
		line-height: 1.9;
	}
}

a {
	border-bottom: 1px solid currentColor;
	color: var(--color-foreground);
	text-decoration: none;
}

a:hover, a:focus {
	color: var(--color-link-hover);
}

.entry-content p a {
	transition: all .1s ease-in-out;
}

.entry-content p a:hover, .entry-content p a:focus {
	border-bottom-color: transparent;
	color: var(--color-background);
	background: var(--color-foreground);
	box-shadow: 0 -0.0625rem 0 0.5em var(--color-foreground);
}

button,
a {
	cursor: pointer;
}

.site *:focus {
	outline-width: 1px;
	outline-style: dotted;
	outline-color: var(--color-form-focus);
}

::selection {
	color: #FFFEFA !important;
	background-color: #5a2f67 !important;
}

::-moz-selection {
	color: #FFFEFA !important;
	background-color: #5a2f67 !important;
}

.has-background ::selection,
.has-secondary-background-color ::selection,
.has-tertiary-background-color ::selection,
.has-background-background-color ::selection {
	color: #FFFEFA !important;
	background-color: black !important;
}

.has-background ::-moz-selection,
.has-secondary-background-color ::-moz-selection,
.has-tertiary-background-color ::-moz-selection,
.has-background-background-color ::-moz-selection {
	color: #FFFEFA !important;
	background-color: black !important;
}

.has-primary-background-color ::selection {
	color: #FFFEFA !important;
	background-color: #5a2f67 !important;
}

.has-primary-background-color ::-moz-selection {
	color: #FFFEFA !important;
	background-color: #5a2f67 !important;
}

/**
 * Repsonsive Styles
 */
/**
 * Required Variables
 */
/**
 * Root Media Query Variables
 */
:root {
	--responsive--spacing-horizontal: calc(2 * 2.5rem);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
	--responsive--alignwide-width-multiplier: calc(16 * 2.5rem);
	--responsive--alignrightleft-width: rem(40px);
}

@media (min-width: 480px) {
	:root {
		--responsive--alignrightleft-width: calc( 50% - ( 0.5 * (100vw - var(--responsive--aligndefault-width))) );
	}
}

@media (min-width: 960px) {
	:root {
		--responsive--aligndefault-width: min(calc(100vw - 2 * 2.5rem), 600px);
		--responsive--alignwide-width: min(calc(100vw - 2 * 2.5rem), 790px);
	}
}

/**
 * Extends
 */
.default-max-width, .wp-block-seperator.wp-block-separator.is-style-wide,
hr.wp-block-separator.is-style-wide, .entry-content .wp-audio-shortcode, .post-thumbnail {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

.wide-max-width {
	max-width: var(--responsive--alignwide-width);
	margin-left: auto;
	margin-right: auto;
}

.full-max-width, .singular .post-thumbnail {
	width: auto;
	max-width: none;
	margin-left: calc( -1 * var(--page-margin) - 2.5rem);
	margin-right: calc( -1 * var(--page-margin) - 2.5rem);
}

@media (min-width: 480px) {
	.full-max-width, .singular .post-thumbnail {
		margin-left: calc( -2 * var(--page-margin));
		margin-right: calc( -2 * var(--page-margin));
	}
}

/**
 * Output
 */
body {
	--wp--typography--line-height: 1.9;
	color: var(--color-foreground);
	background-color: var(--color-background);
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding: var(--page-margin);
}

.editor-post-title__block.editor-post-title__block {
	font-size: var(--font-size-base);
	padding-top: 2.5rem;
	max-width: 62.5rem;
	margin: 0 auto;
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
blockquote {
	margin: 0;
	padding: 0;
}

blockquote p {
	font-size: var(--font-size-lg);
}

blockquote cite,
blockquote footer {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
}

blockquote > * {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote.alignleft, blockquote.alignright {
	padding-left: inherit;
}

blockquote.alignleft p, blockquote.alignright p {
	font-size: var(--font-size-md);
	max-width: inherit;
	width: inherit;
}

blockquote.alignleft cite,
blockquote.alignleft footer, blockquote.alignright cite,
blockquote.alignright footer {
	font-size: var(--font-size-xs);
}

/* Media captions */
figcaption,
.wp-caption,
.wp-caption-text {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
	margin-top: calc(0.5 * 2.5rem);
	margin-bottom: 1rem;
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption, .alignleft
.wp-caption,
.alignright
.wp-caption, .alignleft
.wp-caption-text,
.alignright
.wp-caption-text {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/**
 * Button
*/
/**
 * Button
*/
button,
.button,
input[type="submit"],
.wp-block-button__link.wp-block-button__link {
	color: var(--color-background);
	cursor: pointer;
	font-weight: 500;
	font-family: var(--font-family-display);
	font-size: 1.125rem;
	background-color: var(--color-foreground);
	border: 0;
	border-radius: 0;
	text-decoration: none;
	padding: 0.625rem 1rem 0.5rem;
	line-height: 1.3;
	transition: all 0.1s ease-out;
}

@media (min-width: 480px) {
	button,
	.button,
	input[type="submit"],
	.wp-block-button__link.wp-block-button__link {
		font-size: var(--font-size-md);
	}
}

button:hover, button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.wp-block-button__link.wp-block-button__link:hover,
.wp-block-button__link.wp-block-button__link:focus {
	background: var(--color-foreground);
	box-shadow: 0 -1px 0 5px var(--color-foreground);
}

button:not(.has-text-color):hover, button:not(.has-text-color):focus,
.button:not(.has-text-color):hover,
.button:not(.has-text-color):focus,
input[type="submit"]:not(.has-text-color):hover,
input[type="submit"]:not(.has-text-color):focus,
.wp-block-button__link.wp-block-button__link:not(.has-text-color):hover,
.wp-block-button__link.wp-block-button__link:not(.has-text-color):focus {
	color: var(--color-background);
}

/**
 * Outlined
*/
.wp-block-button.is-style-outline.wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	background: transparent;
	border: 2px solid currentColor;
}

.wp-block-button.is-style-outline.wp-block-button__link:hover, .wp-block-button.is-style-outline.wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus {
	color: var(--color-background);
	background: var(--color-foreground);
	border-color: var(--color-foreground);
	box-shadow: none;
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var(--color-foreground);
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color):hover, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus {
	color: var(--color-background);
}

.wp-block-button.wp-block-button {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-button__link.wp-block-button__link:hover, .wp-block-button__link.wp-block-button__link:focus {
	background: var(--color-foreground) !important;
}

/**
 * Calendar
 */
.wp-block-calendar table th {
	background-color: var(--color-foreground);
	color: var(--color-background);
}

.wp-block-calendar table tbody, .wp-block-calendar table caption {
	color: var(--color-foreground);
}

.wp-block-code {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
	padding: 1.5rem;
	border: 0.0625rem solid var(--color-foreground);
	border-radius: 0.1875rem;
}

.wp-block-code pre {
	color: var(--color-foreground);
}

.wp-block-cover,
.wp-block-cover-image {
	background-color: var(--color-foreground);
	min-height: 40vh;
	margin-top: inherit;
	margin-bottom: inherit;
	/* default & custom background-color */
	/* Treating H2 separately to account for legacy /core styles */
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover .block-editor-block-list__block,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image .block-editor-block-list__block {
	color: currentColor;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.wp-block-cover .wp-block-cover__inner-container a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover .wp-block-cover-image-text a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover .wp-block-cover-text a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover .block-editor-block-list__block a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover-image .wp-block-cover__inner-container a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover-image .wp-block-cover-image-text a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover-image .wp-block-cover-text a:not(.has-text-color):not(.wp-block-button__link),
.wp-block-cover-image .block-editor-block-list__block a:not(.has-text-color):not(.wp-block-button__link) {
	color: currentColor;
}

.wp-block-cover .wp-block-cover__inner-container .has-link-color a,
.wp-block-cover .wp-block-cover-image-text .has-link-color a,
.wp-block-cover .wp-block-cover-text .has-link-color a,
.wp-block-cover .block-editor-block-list__block .has-link-color a,
.wp-block-cover-image .wp-block-cover__inner-container .has-link-color a,
.wp-block-cover-image .wp-block-cover-image-text .has-link-color a,
.wp-block-cover-image .wp-block-cover-text .has-link-color a,
.wp-block-cover-image .block-editor-block-list__block .has-link-color a {
	color: var(--wp--style--color--link, var(--color-primary));
}

.wp-block-cover:not([class*='background-color']) .wp-block-cover__inner-container,
.wp-block-cover:not([class*='background-color']) .wp-block-cover-image-text,
.wp-block-cover:not([class*='background-color']) .wp-block-cover-text,
.wp-block-cover:not([class*='background-color']) .block-editor-block-list__block,
.wp-block-cover-image:not([class*='background-color']) .wp-block-cover__inner-container,
.wp-block-cover-image:not([class*='background-color']) .wp-block-cover-image-text,
.wp-block-cover-image:not([class*='background-color']) .wp-block-cover-text,
.wp-block-cover-image:not([class*='background-color']) .block-editor-block-list__block {
	color: var(--color-5);
}

.wp-block-cover h2,
.wp-block-cover-image h2 {
	font-size: var(--font-size-xxl);
	max-width: inherit;
	text-align: inherit;
	padding: 0;
}

.wp-block-cover h2.has-text-align-left,
.wp-block-cover-image h2.has-text-align-left {
	text-align: left;
}

.wp-block-cover h2.has-text-align-center,
.wp-block-cover-image h2.has-text-align-center {
	text-align: center;
}

.wp-block-cover h2.has-text-align-right,
.wp-block-cover-image h2.has-text-align-right {
	text-align: right;
}

.wp-block-cover .wp-block-cover__inner-container,
.wp-block-cover-image .wp-block-cover__inner-container {
	width: calc(100% - calc( 2 * 2.5rem));
}

.wp-block-cover .wp-block-cover__inner-container > *,
.wp-block-cover-image .wp-block-cover__inner-container > * {
	margin-top: calc( 0.666 * 2.5rem);
	margin-bottom: calc( 0.666 * 2.5rem);
}

@media (min-width: 480px) {
	.wp-block-cover .wp-block-cover__inner-container > *,
	.wp-block-cover-image .wp-block-cover__inner-container > * {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

.wp-block-cover .wp-block-cover__inner-container > *:first-child,
.wp-block-cover-image .wp-block-cover__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-cover .wp-block-cover__inner-container > *:last-child,
.wp-block-cover-image .wp-block-cover__inner-container > *:last-child {
	margin-bottom: 0;
}

.wp-block-cover.alignleft, .wp-block-cover.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright {
	margin-top: 0;
}

.wp-block-cover.alignleft > *, .wp-block-cover.alignright > *,
.wp-block-cover-image.alignleft > *,
.wp-block-cover-image.alignright > * {
	margin-top: calc(2 * 2.5rem);
	margin-bottom: calc(2 * 2.5rem);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 100%;
}

.wp-block-cover.has-left-content, .wp-block-cover.has-right-content,
.wp-block-cover-image.has-left-content,
.wp-block-cover-image.has-right-content {
	justify-content: center;
}

.wp-block-file .wp-block-file__textlink {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-color: currentColor;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
	display: block;
	margin-left: 0;
}

.wp-block-file .wp-block-file__button {
	display: inline-block;
	color: var(--color-background);
	cursor: pointer;
	font-weight: 500;
	font-size: 0.875rem;
	background-color: var(--color-foreground);
	border: 0;
	border-radius: 0;
	text-decoration: none;
	margin: calc( 0.5 * 1rem) 0 0 0;
	padding: 0.5rem 1rem;
	transition: all 0.1s ease-out;
}

.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus {
	color: var(--color-background);
	background: var(--color-foreground);
	box-shadow: 0 -1px 0 5px var(--color-foreground);
}

.wp-block-gallery figcaption {
	margin-bottom: 0;
	color: var(--color-5);
	font-size: var(--font-size-xs);
	line-height: 1.5;
}

.wp-block-group.has-background {
	padding: 1.5rem;
}

@media (min-width: 480px) {
	.wp-block-group.has-background {
		padding: 2.5rem;
	}
}

.widget .wp-block-group {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-group .wp-block-group__inner-container {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-group .wp-block-group__inner-container > * {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

@media (min-width: 480px) {
	.wp-block-group .wp-block-group__inner-container > * {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

.wp-block-group .wp-block-group__inner-container > *:first-child {
	margin-top: 0;
}

.wp-block-group .wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}

.wp-block-group .wp-block-group.has-background > .block-editor-block-list__layout > [data-align="full"] {
	margin: 0;
	width: 100%;
}

.wp-block-heading h1, .wp-block-heading .h1,
.wp-block-heading h2, .wp-block-heading .h2,
.wp-block-heading h3, .wp-block-heading .h3,
.wp-block-heading h4, .wp-block-heading .h4,
.wp-block-heading h5, .wp-block-heading .h5,
.wp-block-heading h6, .wp-block-heading .h6 {
	clear: both;
	font-family: var(--font-family-display);
	font-weight: 400;
	line-height: 1;
}

.wp-block-heading h1 strong, .wp-block-heading .h1 strong,
.wp-block-heading h2 strong, .wp-block-heading .h2 strong,
.wp-block-heading h3 strong, .wp-block-heading .h3 strong,
.wp-block-heading h4 strong, .wp-block-heading .h4 strong,
.wp-block-heading h5 strong, .wp-block-heading .h5 strong,
.wp-block-heading h6 strong, .wp-block-heading .h6 strong {
	font-weight: 600;
}

.wp-block-heading h1 a, .wp-block-heading .h1 a,
.wp-block-heading h2 a, .wp-block-heading .h2 a,
.wp-block-heading h3 a, .wp-block-heading .h3 a,
.wp-block-heading h4 a, .wp-block-heading .h4 a,
.wp-block-heading h5 a, .wp-block-heading .h5 a,
.wp-block-heading h6 a, .wp-block-heading .h6 a {
	border: 0;
}

.wp-block-heading h1, .wp-block-heading .h1 {
	font-size: var(--font-size-md);
}

@media (min-width: 480px) {
	.wp-block-heading h1, .wp-block-heading .h1 {
		font-size: var(--font-size-xl);
	}
}

@media (min-width: 960px) {
	.wp-block-heading h1, .wp-block-heading .h1 {
		font-size: var(--font-size-xxxl);
	}
}

.wp-block-heading h2, .wp-block-heading .h2 {
	font-size: var(--font-size-md);
	font-weight: 300;
}

@media (min-width: 480px) {
	.wp-block-heading h2, .wp-block-heading .h2 {
		font-size: 2.25rem;
	}
}

@media (min-width: 960px) {
	.wp-block-heading h2, .wp-block-heading .h2 {
		font-size: var(--font-size-xxl);
	}
}

.wp-block-heading h3, .wp-block-heading .h3 {
	font-size: 1.125rem;
}

@media (min-width: 480px) {
	.wp-block-heading h3, .wp-block-heading .h3 {
		font-size: var(--font-size-md);
	}
}

@media (min-width: 960px) {
	.wp-block-heading h3, .wp-block-heading .h3 {
		font-size: var(--font-size-xl);
	}
}

.wp-block-heading h4, .wp-block-heading .h4 {
	font-size: var(--font-size-sm);
	line-height: 1.3;
}

@media (min-width: 480px) {
	.wp-block-heading h4, .wp-block-heading .h4 {
		font-size: 1.25rem;
	}
}

@media (min-width: 960px) {
	.wp-block-heading h4, .wp-block-heading .h4 {
		font-size: var(--font-size-lg);
	}
}

.wp-block-heading h5, .wp-block-heading .h5 {
	font-size: var(--font-size-xs);
	line-height: 1.3;
}

@media (min-width: 480px) {
	.wp-block-heading h5, .wp-block-heading .h5 {
		font-size: var(--font-size-sm);
	}
}

@media (min-width: 960px) {
	.wp-block-heading h5, .wp-block-heading .h5 {
		font-size: var(--font-size-md);
	}
}

.wp-block-heading h6, .wp-block-heading .h6 {
	font-size: var(--font-size-xs);
	line-height: 1.3;
	font-weight: 300;
}

@media (min-width: 480px) {
	.wp-block-heading h6, .wp-block-heading .h6 {
		font-size: var(--font-size-sm);
	}
}

@media (min-width: 960px) {
	.wp-block-heading h6, .wp-block-heading .h6 {
		font-weight: 600;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	clear: both;
	font-family: var(--font-family-display);
	font-weight: 400;
	line-height: 1;
}

h1 strong, .h1 strong,
h2 strong, .h2 strong,
h3 strong, .h3 strong,
h4 strong, .h4 strong,
h5 strong, .h5 strong,
h6 strong, .h6 strong {
	font-weight: 600;
}

h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
	border: 0;
}

h1, .h1 {
	font-size: var(--font-size-md);
}

@media (min-width: 480px) {
	h1, .h1 {
		font-size: var(--font-size-xl);
	}
}

@media (min-width: 960px) {
	h1, .h1 {
		font-size: var(--font-size-xxxl);
	}
}

h2, .h2 {
	font-size: var(--font-size-md);
	font-weight: 300;
}

@media (min-width: 480px) {
	h2, .h2 {
		font-size: 2.25rem;
	}
}

@media (min-width: 960px) {
	h2, .h2 {
		font-size: var(--font-size-xxl);
	}
}

h3, .h3 {
	font-size: 1.125rem;
}

@media (min-width: 480px) {
	h3, .h3 {
		font-size: var(--font-size-md);
	}
}

@media (min-width: 960px) {
	h3, .h3 {
		font-size: var(--font-size-xl);
	}
}

h4, .h4 {
	font-size: var(--font-size-sm);
	line-height: 1.3;
}

@media (min-width: 480px) {
	h4, .h4 {
		font-size: 1.25rem;
	}
}

@media (min-width: 960px) {
	h4, .h4 {
		font-size: var(--font-size-lg);
	}
}

h5, .h5 {
	font-size: var(--font-size-xs);
	line-height: 1.3;
}

@media (min-width: 480px) {
	h5, .h5 {
		font-size: var(--font-size-sm);
	}
}

@media (min-width: 960px) {
	h5, .h5 {
		font-size: var(--font-size-md);
	}
}

h6, .h6 {
	font-size: var(--font-size-xs);
	line-height: 1.3;
	font-weight: 300;
}

@media (min-width: 480px) {
	h6, .h6 {
		font-size: var(--font-size-sm);
	}
}

@media (min-width: 960px) {
	h6, .h6 {
		font-weight: 600;
	}
}

/* Center image block by default in the editor */
.wp-block-image > div {
	text-align: center;
}

.wp-block-image {
	text-align: center;
}

.wp-block-image figcaption {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
	line-height: 1.9;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

[data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

.wp-block-latest-comments {
	padding-left: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment {
	font-size: var(--font-size-sm);
	/* Vertical margins logic */
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.wp-block-latest-comments .wp-block-latest-comments__comment:first-child {
	margin-top: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment:last-child {
	margin-bottom: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment .avatar {
	margin-top: 0.125rem;
	border: 0.125rem solid var(--color-foreground);
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
	font-size: var(--font-size-xs);
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta a {
	font-weight: 600;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta time {
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-top: 0.25rem;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-date {
	color: var(--color-foreground);
	font-size: var(--font-size-sm);
}

.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt {
	margin-top: 1rem;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
	font-size: var(--font-size-sm);
	margin: 0;
}

.wp-block-latest-posts {
	padding-left: 0;
}

.wp-block-latest-posts:not(.is-grid) > li:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts.is-grid > li {
	margin-bottom: 2.5rem;
}

.wp-block-latest-posts.is-grid > li:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts.is-grid.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1),
.wp-block-latest-posts.is-grid.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1) ~ li,
.wp-block-latest-posts.is-grid.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1),
.wp-block-latest-posts.is-grid.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1) ~ li,
.wp-block-latest-posts.is-grid.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1),
.wp-block-latest-posts.is-grid.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1) ~ li,
.wp-block-latest-posts.is-grid.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1),
.wp-block-latest-posts.is-grid.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1) ~ li,
.wp-block-latest-posts.is-grid.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1),
.wp-block-latest-posts.is-grid.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1) ~ li {
	margin-bottom: 0;
}

.wp-block-latest-posts > li > *:last-child {
	margin-bottom: 0;
}

.wp-block-latest-posts > li > a {
	font-family: var(--font-family-display);
	font-size: var(--font-size-xl);
	font-weight: 300;
	line-height: 1.3;
	text-decoration: underline;
	border: 0;
}

.wp-block-latest-posts > li > a:hover, .wp-block-latest-posts > li > a:focus {
	text-decoration: none;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: var(--color-foreground);
	font-size: var(--font-size-sm);
}

.entry-content [class*="inner-container"] .wp-block-latest-posts .wp-block-latest-posts__post-date,
.entry-content .has-background .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: currentColor;
}

.wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
.wp-block-latest-posts .wp-block-latest-posts__post-full-content {
	font-size: var(--font-size-sm);
}

.wp-block-latest-posts.alignfull {
	padding-left: 1rem;
	padding-right: 1rem;
}

.entry-content [class*="inner-container"] .wp-block-latest-posts.alignfull,
.entry-content .has-background .wp-block-latest-posts.alignfull {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 782px) {
	.wp-block-latest-posts.is-style-seedlet-alternating-grid {
		overflow: hidden;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid > li {
		width: calc(50% - (0.5 * 1.5rem));
		max-width: calc(50% - (0.5 * 1.5rem));
		text-align: right;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid > li:nth-child(2n + 1) {
		float: right;
		text-align: left;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid {
		display: inherit;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li {
		margin-top: 2.5rem;
		margin-right: 0;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li:first-child {
		margin-top: 0;
	}
	.wp-block-latest-posts.is-style-seedlet-alternating-grid.is-grid > li:last-child {
		margin-bottom: 0;
	}
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-item a {
	display: block;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

ul,
ol {
	margin: 0;
	padding-left: 2.5rem;
}

@media (min-width: 480px) {
	ul,
	ol {
		padding-left: 5rem;
	}
}

ul.aligncenter,
ol.aligncenter {
	list-style-position: inside;
	padding: 0;
}

ul.alignright,
ol.alignright {
	list-style-position: inside;
	text-align: right;
	padding: 0;
}

.entry-content ul li, .entry-content
ol li {
	margin-bottom: 1.5rem;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

dt {
	font-family: var(--font-family-display);
	font-weight: 600;
}

dd {
	margin: 0;
	padding-left: calc(2 * 2.5rem);
}

.wp-block-media-text {
	/**
	 * Block Options
	 */
}

.wp-block-media-text .wp-block-media-text__content {
	padding: 1.5rem;
}

@media (min-width: 782px) {
	.wp-block-media-text .wp-block-media-text__content {
		padding: 2.5rem;
	}
}

.wp-block-media-text .wp-block-media-text__content > * {
	margin-top: calc( 0.666 * 2.5rem);
	margin-bottom: calc( 0.666 * 2.5rem);
}

@media (min-width: 480px) {
	.wp-block-media-text .wp-block-media-text__content > * {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

.wp-block-media-text .wp-block-media-text__content > *:first-child {
	margin-top: 0;
}

.wp-block-media-text .wp-block-media-text__content > *:last-child {
	margin-bottom: 0;
}

@media (min-width: 480px) {
	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

p {
	line-height: 1.5;
}

@media (min-width: 480px) {
	p {
		line-height: 1.7;
	}
}

@media (min-width: 782px) {
	p {
		line-height: var(--wp--typography--line-height, 1.9);
	}
}

p.has-background {
	padding: 0.5rem 1rem;
}

.wp-block-pullquote {
	padding: calc( 2 * 1rem) 0;
	text-align: left;
	color: var(--color-foreground);
	border: 0;
	/**
	 * Block Options
	 */
}

.wp-block-pullquote p {
	font-family: var(--font-family-display);
	font-size: var(--font-size-lg);
	font-weight: 300;
	line-height: 1;
	margin: 0;
}

@media (min-width: 480px) {
	.wp-block-pullquote p {
		font-size: var(--font-size-xl);
	}
}

@media (min-width: 782px) {
	.wp-block-pullquote p {
		font-size: var(--font-size-xxl);
	}
}

.wp-block-pullquote a {
	color: currentColor;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: currentColor;
	display: block;
	font-size: var(--font-size-xs);
	text-transform: none;
}

.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
	padding: 1rem;
	margin-bottom: 1rem;
}

@media (min-width: 480px) {
	.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
		padding: 1rem 0;
	}
}

.wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
	font-size: var(--font-size-sm);
}

@media (min-width: 480px) {
	.wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
		font-size: var(--font-size-md);
	}
}

.entry-content .wp-block-pullquote.alignleft {
	margin-left: 0;
}

@media (min-width: 480px) {
	.entry-content .wp-block-pullquote.alignleft {
		margin-right: 1rem;
	}
}

.entry-content .wp-block-pullquote.alignright {
	margin-right: 0;
}

@media (min-width: 480px) {
	.entry-content .wp-block-pullquote.alignright {
		margin-left: 1rem;
	}
}

.wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}

.wp-block-pullquote.is-style-large {
	border-left-color: var(--color-foreground);
	border-left-style: solid;
	border-left-width: var(--quote--border-width);
	font-style: normal;
}

.wp-block-pullquote.alignwide > p,
.wp-block-pullquote.alignwide blockquote {
	max-width: var(--responsive--alignwide-width);
}

.wp-block-pullquote.alignfull:not(.is-style-solid-color) > p,
.wp-block-pullquote.alignfull:not(.is-style-solid-color) blockquote {
	padding: 0 calc( 2 * 1rem);
}

.wp-block-pullquote.is-style-solid-color {
	background-color: var(--pullquote--color-foreground);
	color: var(--pullquote--color-background);
	padding: calc( 2 * 1rem);
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: inherit;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-base);
	line-height: 1.5;
	font-style: italic;
}

@media (min-width: 480px) {
	.wp-block-pullquote.is-style-solid-color blockquote p {
		font-size: var(--font-size-md);
	}
}

@media (min-width: 782px) {
	.wp-block-pullquote.is-style-solid-color blockquote p {
		font-size: var(--font-size-lg);
	}
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation,
.wp-block-pullquote.is-style-solid-color cite,
.wp-block-pullquote.is-style-solid-color footer {
	color: currentColor;
}

.wp-block-quote {
	border-left: 0.0625rem solid var(--color-foreground);
	margin: 2.5rem 0;
	padding-left: 1.5rem;
	/**
	 * Block Options
	 */
}

.wp-block-quote > * {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.wp-block-quote > *:first-child {
	margin-top: 0;
}

.wp-block-quote > *:last-child {
	margin-bottom: 0;
}

.wp-block-quote p {
	font-size: var(--font-size-md);
}

.wp-block-quote .wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
}

.has-background:not(.has-background-background-color) .wp-block-quote .wp-block-quote__citation,
[class*="background-color"]:not(.has-background-background-color) .wp-block-quote .wp-block-quote__citation,
[style*="background-color"] .wp-block-quote .wp-block-quote__citation,
.wp-block-cover[style*="background-image"] .wp-block-quote .wp-block-quote__citation, .has-background:not(.has-background-background-color)
.wp-block-quote cite,
[class*="background-color"]:not(.has-background-background-color)
.wp-block-quote cite,
[style*="background-color"]
.wp-block-quote cite,
.wp-block-cover[style*="background-image"]
.wp-block-quote cite, .has-background:not(.has-background-background-color)
.wp-block-quote footer,
[class*="background-color"]:not(.has-background-background-color)
.wp-block-quote footer,
[style*="background-color"]
.wp-block-quote footer,
.wp-block-cover[style*="background-image"]
.wp-block-quote footer {
	color: currentColor;
}

.wp-block-quote.has-text-align-right {
	border-left: none;
	border-right: 0.0625rem solid var(--color-foreground);
	padding-left: 0;
	padding-right: 1.5rem;
}

.wp-block-quote.has-text-align-center {
	border: none;
}

.wp-block-quote.is-style-large, .wp-block-quote.is-large {
	/* Resetting margins to match _block-container.scss */
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	padding-left: 1.5rem;
}

.wp-block-quote.is-style-large.has-text-align-right, .wp-block-quote.is-large.has-text-align-right {
	padding-left: 0;
	padding-right: 1.5rem;
}

.wp-block-quote.is-style-large.has-text-align-center, .wp-block-quote.is-large.has-text-align-center {
	padding: 0 1.5rem;
}

.wp-block-quote.is-style-large p, .wp-block-quote.is-large p {
	font-size: var(--quote--font-size-large);
	font-style: var(--quote--font-style-large);
	line-height: var(--quote--line-height-large);
}

.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer, .wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
}

.has-background:not(.has-background-background-color) .wp-block-quote,
[class*="background-color"]:not(.has-background-background-color) .wp-block-quote,
[style*="background-color"] .wp-block-quote,
.wp-block-cover[style*="background-image"] .wp-block-quote {
	border-color: currentColor;
}

.wp-block-search {
	flex-wrap: wrap;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	background: transparent;
	border: 0.125rem solid var(--color-foreground);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
	padding: 1rem;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
	padding: 0.75rem 1rem;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button.has-icon {
	padding: 0;
}

.wp-block-search .wp-block-search__label {
	font-weight: normal;
}

.wp-block-search .wp-block-search__input {
	font-size: var(--font-size-base);
	border: 0.125rem solid var(--color-foreground);
	color: var(--color-foreground);
	max-width: inherit;
	padding: 1rem;
	background: transparent;
	margin-right: 0;
}

.wp-block-search .wp-block-search__input:focus {
	color: var(--color-foreground);
	border-color: var(--color-foreground);
}

.wp-block-search .wp-block-search__button {
	color: var(--color-background);
	cursor: pointer;
	font-weight: 500;
	font-family: var(--font-family-display);
	font-size: 1.125rem;
	background-color: var(--color-foreground);
	border: 0;
	border-radius: 0;
	text-decoration: none;
	padding: 0.75rem 1rem 0.625rem;
	transition: all 0.1s ease-out;
	margin-left: 0;
}

@media (min-width: 480px) {
	.wp-block-search .wp-block-search__button {
		font-size: var(--font-size-md);
	}
}

.wp-block-search .wp-block-search__button:hover, .wp-block-search .wp-block-search__button:focus {
	background: var(--color-foreground);
	box-shadow: 0 -1px 0 5px var(--color-foreground);
}

.wp-block-search .wp-block-search__button.has-icon {
	transform: scaleX(-1);
	padding: 0;
	min-width: calc(2* 0.75rem + 1rem);
	min-height: calc(2* 0.75rem + 1rem);
}

.wp-block-search .wp-block-search__button.has-icon svg {
	fill: currentColor;
	width: 29px;
	height: 29px;
}

.wp-block-seperator,
hr {
	border-style: none;
	border-bottom: 0.125rem solid var(--color-foreground);
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-seperator.wp-block-separator,
hr.wp-block-separator {
	border-bottom: 0.125rem solid var(--color-foreground);
	/**
		 * Block Options
		 */
}

.wp-block-seperator.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 9rem;
}

.wp-block-seperator.wp-block-separator.is-style-dots.has-background, .wp-block-seperator.wp-block-separator.is-style-dots.has-text-color,
hr.wp-block-separator.is-style-dots.has-background,
hr.wp-block-separator.is-style-dots.has-text-color {
	background-color: transparent !important;
}

.wp-block-seperator.wp-block-separator.is-style-dots.has-background:before, .wp-block-seperator.wp-block-separator.is-style-dots.has-text-color:before,
hr.wp-block-separator.is-style-dots.has-background:before,
hr.wp-block-separator.is-style-dots.has-text-color:before {
	color: currentColor !important;
}

.wp-block-seperator.wp-block-separator.is-style-dots:before,
hr.wp-block-separator.is-style-dots:before {
	color: var(--color-foreground);
	font-size: var(--font-size-xl);
	letter-spacing: var(--font-size-sm);
	padding-left: var(--font-size-sm);
}

.has-background:not(.has-background-background-color) .wp-block-seperator.wp-block-separator,
[class*="background-color"]:not(.has-background-background-color) .wp-block-seperator.wp-block-separator,
[style*="background-color"] .wp-block-seperator.wp-block-separator,
.wp-block-cover[style*="background-image"] .wp-block-seperator.wp-block-separator, .has-background:not(.has-background-background-color)
hr.wp-block-separator,
[class*="background-color"]:not(.has-background-background-color)
hr.wp-block-separator,
[style*="background-color"]
hr.wp-block-separator,
.wp-block-cover[style*="background-image"]
hr.wp-block-separator {
	border-color: currentColor;
}

.wp-block-jetpack-slideshow ul {
	margin-left: 0;
	margin-right: 0;
}

table,
.wp-block-table {
	width: 100%;
	min-width: 15rem;
	border-collapse: collapse;
}

table thead,
.wp-block-table thead {
	border-bottom: 3px solid currentColor;
}

table th,
.wp-block-table th {
	font-weight: 600;
}

table td,
table th,
.wp-block-table td,
.wp-block-table th {
	padding: calc( 0.5 * 1rem);
	border: 0.0625rem solid;
	word-break: break-all;
}

pre.wp-block-verse {
	color: var(--color-foreground);
	padding: 0;
}

.wp-block-video figcaption {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
	margin-top: calc(0.5 * 1rem);
	margin-bottom: 1rem;
	text-align: center;
}

* > figure > video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}

.wp-block.block-editor-default-block-appender > textarea {
	font-family: var(--font-family-serif);
	font-size: var(--global--font-size-base);
}

/* Custom text colors */
.has-primary-color.has-primary-color[class] {
	color: var(--color-1);
}

.has-secondary-color.has-secondary-color[class] {
	color: var(--color-2);
}

.has-tertiary-color.has-tertiary-color[class] {
	color: var(--color-3);
}

.has-background-color.has-background-color[class] {
	color: var(--color-5);
}

/* Custom background colors */
.has-primary-background-color[class] {
	background-color: var(--color-1);
}

.has-primary-background-color[class]:not(.has-text-color) {
	color: var(--color-5);
}

.has-secondary-background-color[class] {
	background-color: var(--color-2);
}

.has-secondary-background-color[class]:not(.has-text-color) {
	color: var(--color-5);
}

.has-tertiary-background-color[class] {
	background-color: var(--color-3);
}

.has-tertiary-background-color[class]:not(.has-text-color) {
	color: var(--color-5);
}

.has-background-background-color[class] {
	background-color: var(--color-5);
}

.has-background-background-color[class]:not(.has-text-color) {
	color: var(--color-1);
}

.is-tiny-text,
.has-tiny-font-size {
	font-size: 0.75rem;
}

.is-small-text,
.has-small-font-size {
	font-size: var(--font-size-sm);
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: var(--font-size-base);
}

.is-large-text,
.has-large-font-size {
	font-size: var(--font-size-md);
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: var(--font-size-lg);
}

.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--font-family-display);
	font-size: 4.75rem;
	font-weight: 500;
	line-height: 0.7;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.75rem 0.75rem 0 0;
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: 0.875rem;
}

.desktop-only {
	display: none;
}

@media (min-width: 480px) {
	.desktop-only {
		display: block;
	}
}

/**
 * Spacing Overrides
 */
/*
 * Margins
 */
.margin-top-none {
	margin-top: 0 !important;
}

.margin-top-half {
	margin-top: calc(0.5 * 2.5rem) !important;
}

.margin-top-default {
	margin-top: 2.5rem !important;
}

.margin-right-none {
	/*rtl:ignore*/
	margin-right: 0 !important;
}

.margin-right-half {
	/*rtl:ignore*/
	margin-right: calc(0.5 * 2.5rem) !important;
}

.margin-right-default {
	/*rtl:ignore*/
	margin-right: 2.5rem !important;
}

.margin-bottom-none {
	margin-bottom: 0 !important;
}

.margin-bottom-half {
	margin-bottom: calc(0.5 * 2.5rem) !important;
}

.margin-bottom-default {
	margin-bottom: 2.5rem !important;
}

.margin-left-none {
	/*rtl:ignore*/
	margin-left: 0 !important;
}

.margin-left-half {
	/*rtl:ignore*/
	margin-left: calc(0.5 * 2.5rem) !important;
}

.margin-left-default {
	/*rtl:ignore*/
	margin-left: 2.5rem !important;
}

/*
 * Padding
 */
.padding-top-none {
	padding-top: 0 !important;
}

.padding-top-half {
	padding-top: calc(0.5 * 2.5rem) !important;
}

.padding-top-default {
	padding-top: 2.5rem !important;
}

.padding-right-none {
	/*rtl:ignore*/
	padding-right: 0 !important;
}

.padding-right-half {
	/*rtl:ignore*/
	padding-right: calc(0.5 * 2.5rem) !important;
}

.padding-right-default {
	/*rtl:ignore*/
	padding-right: 2.5rem !important;
}

.padding-bottom-none {
	padding-bottom: 0 !important;
}

.padding-bottom-half {
	padding-bottom: calc(0.5 * 2.5rem) !important;
}

.padding-bottom-default {
	padding-bottom: 2.5rem !important;
}

.padding-left-none {
	/*rtl:ignore*/
	padding-left: 0 !important;
}

.padding-left-half {
	/*rtl:ignore*/
	padding-left: calc(0.5 * 2.5rem) !important;
}

.padding-left-default {
	/*rtl:ignore*/
	padding-left: 2.5rem !important;
}

[data-block] {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

/* Block Alignments */
.wp-block {
	max-width: var(--responsive--aligndefault-width);
}

.wp-block[data-align="wide"], .wp-block.alignwide {
	max-width: var(--responsive--alignwide-width);
}

.wp-block[data-align="full"], .wp-block.alignfull {
	max-width: none;
}

/*
 * Components
 * - Similar to Blocks but exist outside of the "current" editor context
 */
/**
 * Content
 */
.entry-header {
	max-width: 62.5rem;
	margin: 0 auto;
}

.entry-title,
.editor-post-title__block .editor-post-title__input {
	color: var(--color-foreground);
	font-family: var(--font-family-display);
	font-size: var(--font-size-md);
	font-weight: 500;
	text-align: center;
	line-height: 1;
	overflow-wrap: break-word;
}

@media (min-width: 480px) {
	.entry-title,
	.editor-post-title__block .editor-post-title__input {
		font-size: var(--font-size-xl);
	}
}

@media (min-width: 960px) {
	.entry-title,
	.editor-post-title__block .editor-post-title__input {
		font-size: var(--font-size-xxxl);
	}
}

.entry-title a,
.editor-post-title__block .editor-post-title__input a {
	border: 0;
}

/**
 * Entry Content
 */
.entry-content p {
	word-wrap: break-word;
}

.entry-content .more-link {
	display: table;
	margin-top: 1rem;
}

@media (min-width: 480px) {
	.entry-content .more-link {
		margin-top: 2.5rem;
	}
}

.entry-content .more-link:after {
	content: "→" /*rtl:"←"*/;
	display: inline-block;
	margin-left: 0.5em;
}

.entry-content .more-link:hover {
	text-decoration: none;
}

.entry-content > iframe[style] {
	margin: 2.5rem !important;
	max-width: 100% !important;
}

@media (min-width: 480px) {
	.entry-content > iframe[style] {
		max-width: 2.5rem !important;
	}
}

.home.page.hide-homepage-header.hide-homepage-title .entry-content {
	margin-top: 0;
	padding-top: 0;
}

.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-image.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-cover.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-media-text.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-group.has-background.alignfull:first-child {
	margin-top: calc(-1 * var(--global--spacing-vertical));
}

.entry-attachment {
	text-align: center;
}

.entry-meta,
.entry-footer {
	color: var(--color-foreground);
	clear: both;
	float: none;
	font-size: var(--font-size-xs);
	display: block;
}

.entry-meta a,
.entry-footer a {
	border-color: transparent;
}

.entry-meta a:hover, .entry-meta a:focus,
.entry-footer a:hover,
.entry-footer a:focus {
	border-color: currentColor;
}

.entry-meta > span,
.entry-footer > span {
	display: inline-block;
	margin-right: 1rem;
}

.entry-meta > span > *,
.entry-meta > span span .fn,
.entry-footer > span > *,
.entry-footer > span span .fn {
	display: inline-block;
	vertical-align: middle;
}

.entry-meta > span:last-child,
.entry-footer > span:last-child {
	margin-right: 0;
}

.entry-meta > span .published + .updated,
.entry-footer > span .published + .updated {
	display: none;
}

.entry-meta .svg-icon,
.entry-footer .svg-icon {
	fill: currentColor;
	position: relative;
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.1875rem;
}

.site-main > article > .entry-footer {
	margin-top: 7.5rem;
	padding-top: 1rem;
	border-top: 2px solid var(--color-foreground);
}

.home.page.hide-homepage-footer .site-main > article > .entry-footer {
	border-width: 0;
}

/**
 * Post Thumbnails
 */
.post-thumbnail {
	text-align: center;
}

.post-thumbnail .post-thumbnail-inner {
	display: block;
}

/**
 * Author
 */
/* Author description */
.entry-author {
	font-size: var(--font-size-xs);
	max-width: var(--responsive--aligndefault-width);
}

.entry-author .author-avatar {
	display: none;
}

.site-main > article > .entry-author {
	margin-top: 5rem;
}

.entry-author .author-title {
	font-size: var(--font-size-xs);
}

.entry-author .author-title .author-name {
	display: block;
	margin-top: 0.25rem;
	font-size: var(--font-size-xl);
}

.entry-author .author-bio {
	font-size: var(--font-size-md);
}

.entry-author .author-link::before {
	content: '';
	display: block;
}

/*# sourceMappingURL=style-editor.css.map */