.wp-block-cover,
.wp-block-cover-image {
	&.alignfull {
		@extend %responsive-alignfuller-width;
	}

	background-color: var(--color-foreground);
	min-height: 40vh;
	margin-top: inherit;
	margin-bottom: inherit;

	.wp-block-cover__inner-container,
	.wp-block-cover-image-text,
	.wp-block-cover-text,
	.block-editor-block-list__block {
		color: currentColor; // uses text color specified with background-color options in /blocks/utilities/_style.scss
		margin-top: rem(40px);
		margin-bottom: rem(40px);

		a:not(.has-text-color):not(.wp-block-button__link) {
			color: currentColor;
		}
		.has-link-color a {
			color: var( --wp--style--color--link, var(--color-primary) );
		}
	}

	/* default & custom background-color */
	&:not([class*='background-color']){
		.wp-block-cover__inner-container,
		.wp-block-cover-image-text,
		.wp-block-cover-text,
		.block-editor-block-list__block {
			color: var(--color-5);
		}
	}

	/* Treating H2 separately to account for legacy /core styles */
	h2 {
		font-size: var(--font-size-xxl);
		max-width: inherit; // undo opinionated styles
		text-align: inherit; // undo opinionated styles
		padding: 0;

		&.has-text-align-left {
			text-align: left;
		}

		&.has-text-align-center {
			text-align: center;
		}

		&.has-text-align-right {
			text-align: right;
		}
	}

	.wp-block-cover__inner-container {
		width: calc(100% - calc( 2 * #{rem(40px)}));

		& > * {
			margin-top: calc( 0.666 * #{rem(40px)} );
			margin-bottom: calc( 0.666 * #{rem(40px)} );

			@include break-xs {
				margin-top: rem(40px);
				margin-bottom: rem(40px);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.alignleft,
	&.alignright {
		margin-top: 0;

		> * {
			margin-top: calc(2 * #{rem(40px)});
			margin-bottom: calc(2 * #{rem(40px)});
			padding-left: rem(24px);
			padding-right: rem(24px);
			width: 100%;
		}
	}

	&.has-left-content,
	&.has-right-content {
		justify-content: center;
	}
}
