.wp-block-gallery {

	margin: 0 auto;

	.blocks-gallery-image,
	.blocks-gallery-item {

		figcaption {
			margin: 0;
			// Text color is always white to account for default gradient background
			color: var(--color-5);
			font-size: var(--font-size-xs);
			line-height: 1.5;
		}
	}

	&.alignfull {
		.blocks-gallery-grid {
			width: 100%;
		}
	}
}
