.wp-block-group {
	&.has-background {
		padding: rem(24px);

		@include break-xs {
			padding: rem(40px);
		}
	}

	.widget & {
		margin-left: 0;
		margin-right: 0;
	}

	&.alignfull {
		@extend %responsive-alignfuller-width;
	}

	.wp-block-group__inner-container {
		margin-left: auto;
		margin-right: auto;

		> * {
			margin-top: rem(24px);
			margin-bottom: rem(24px);

			@include break-xs {
				margin-top: rem(40px);
				margin-bottom: rem(40px);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
