.site-footer > .footer-navigation {
	display: block;
	text-align: center;
	padding-top: rem(16px);
	padding-left: var(--page-margin);
	padding-right: var(--page-margin);


	& > div {
		display: inline;
	}

	.footer-menu {
		color: var(--color-5);
		margin: 0;
		padding-left: 0;

		& > li {
			display: inline-block;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

		.menu-item {
			padding: rem(16px);
			font-family: var(--font-family-display);
			font-size: rem(14px);
			font-weight: 400;
			color: var(--color-5);
			
			@include break-xs {
				font-size: rem(20px);
			}
			
			a {
				color: var(--color-5);
				text-transform: uppercase;

				&:link,
				&:active,
				&:focus {
					color: var(--color-5);
				}

				&:hover {
					color: var(--color-5);
					border-color: var(--color-3);
				}
			}
		}
	}
}
