// Footer

.site-footer {
	overflow: hidden;
	text-align: center;
	color: var(--color-5);
	background: var(--color-1);
}

// Footer Branding

.site-footer > .site-info {
	margin-top: rem(24px);
	margin-bottom: rem(64px);
	font-size: rem(12px);
	color: var(--color-5);
}