/**
 * Button
*/

@import "style";

.wp-block-button.wp-block-button {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-button__link.wp-block-button__link {
	&:hover,
	&:focus {
		background: var(--color-foreground) !important;
	}
}