/**
 * Button
*/

button,
.button,
input[type="submit"],
.wp-block-button__link.wp-block-button__link {
	color: var(--color-background);
	cursor: pointer;
	font-weight: 500;
	font-family: var(--font-family-display);
	font-size: rem(18px);
	background-color: var(--color-foreground);
	border: 2px solid transparent;
	border-radius: 0;
	text-decoration: none;
	padding: rem(10px) rem(16px) rem(8px);
	line-height: 1.3;
	transition: all 0.1s ease-out;

	@include break-xs {
		font-size: var(--font-size-md);
	}

	&:hover,
	&:focus {
		background: var(--color-foreground);
		box-shadow: 0 -1px 0 5px var(--color-foreground);
	}

	&:not(.has-text-color) {
		&:hover,
		&:focus {
			color: var(--color-background);
		}
	}
}


/**
 * Outlined
*/

.wp-block-button {
	&.is-style-outline {
		&.wp-block-button__link,
		.wp-block-button__link {
			background: transparent;
			border: 2px solid currentColor;

			&:hover,
			&:focus {
				color: var(--color-background);
				background: var(--color-foreground);
				border-color: var(--color-foreground);
				box-shadow: none;
			}

			&:not(.has-text-color) {
				color: var(--color-foreground);

				&:hover,
				&:focus {
					color: var(--color-background);
				}
			}
		}
	}
}

/* secret home page styles */
.is-toc {
	.wp-block-spacer[style] {
		@media (max-width: 959px) {
			height: 1rem !important;
		}
		@media (max-width: 479px) {
			height: 0 !important;
		}
	}
	
	.wp-block-column {
		@media (max-width: 959px) {
			margin-bottom: 0 !important;
		}
	}
}


.wp-block-buttons {
	.is-toc & {
		flex-direction: column;
		
		@media (max-width: 781px) {
			margin-top: 0 !important;
		}

		.wp-block-button {
			margin-bottom: var(--page-margin);
		}

		&.is-content-justification-center {
			align-items: center;

			.wp-block-button {
				margin-right: 0;
			}
		}
		&.is-content-justification-right {
			align-items: flex-end;
		}

		.wp-block-button__link {
			@include break-xs {
				font-size: var(--font-size-lg);
			}
		}

		em {
			display: block;
			font-size: rem(12px);
			font-family: var(--font-family-serif);

			@include break-xs {
				font-size: var(--font-size-xs);
			}
		}
	}
}