/**
 * Button
 */
button,
.button,
input[type="submit"],
.wp-block-button__link {
	// Extend button style
	@extend %button-style;
}



/**
 * Block Options
 */
.wp-block-button {
	font-family: var(--global--font-primary);
	font-size: 24px;
	font-weight: 500;
	// font-weight: var(--button--font-weight);
	// line-height: var(--button--line-height);

	@include media(mobile-only) {
		font-size: 18px;
	}

	&:not(.is-style-outline) .wp-block-button__link {
		@include button-hover-styles;

		&.has-background-background-color {

			// &:active {
			// 	color: var(--global--color-primary);
			// }
	
			&:hover,
			&:focus,
			&.has-focus {
				color: var(--global--color-background );
				// background: var(--global--color-primary);
			}
		}
	}

	&.wp-block-button__link,
	.wp-block-button__link {
		@include button-main-styles;
	}

	&:hover,
	&:focus,
	&.has-focus {
		color: var(--global--color-background );
		// background: var(--global--color-primary);
	}

	// Outline Style
	&.is-style-outline {
		// border: none;

		&.wp-block-button__link,
		.wp-block-button__link {
			color: var(--global--color-primary);
			font-family: var(--global--font-primary);
			font-weight: 500;
			// background: transparent;
			// border: var(--button--border-width) solid currentcolor;
			padding: 12px 16px 10px;

			&:not(.has-text-color) {
				color: var(--global--color-primary);
			}

			// &:active {
			// 	color: var(--global--color-primary);
			// }

			// &:hover,
			// &:focus,
			// &.has-focus {
			// 	background: var(--global--color-primary);
			// 	color: var(--global--color-background);
			// 	border-color: var(--global--color-primary);
			// 	box-shadow: none;
			// }

			&:hover,
			&:focus,
			&.has-focus {
				background: var(--global--color-primary);
				color: var(--global--color-background);
				// border-color: var(--global--color-primary);
				box-shadow: none;
			}

			&:not(.has-text-color),
			&.has-secondary-color,
			&.has-tertiary-color,
			&.has-background {

				&:active {
					color: var(--global--color-primary);
				}

				&:hover,
				&:focus,
				&.has-focus {
					background: var(--global--color-primary);
					color: var(--global--color-background);
					border-color: var(--global--color-primary);
				}
			}
		}
	}
}

.page-template-pageDark.page-template-pageDark.page-template-pageDark {
	&.wp-block-button__link,
	.wp-block-button__link {
		&:hover,
		&:focus,
		&.has-focus {
			color: var(--global--color-background );
			background: var(--global--color-primary);
		}
	}
}
