/**
 * Calendar
 */
.wp-block-calendar table th {
	background-color: var(--color-foreground);
	color: var(--color-background);
}
.wp-block-calendar table tbody, .wp-block-calendar table caption  {
	color: var(--color-foreground);
}
