// Post title style
.entry-header {
	max-width: 1000px;
	margin: 0 auto;
}

.entry-title,
.editor-post-title__block .editor-post-title__input { // To target the editor
	color: var(--global--color-primary);
	font-family: var(--global--font-primary);
	font-size: 40px;
	text-align: center;
	font-weight: 500;
	line-height: 1;

	
	// letter-spacing: var(--heading--letter-spacing-h2);
	// line-height: var(--heading--line-height);
	// overflow-wrap: break-word;

	// a {
	// 	color: var(--entry-header--color-link);

	// 	&:hover {
	// 		color: var(--entry-header--color-hover);
	// 	}

	// 	&:focus {
	// 		color: var(--entry-header--color-focus);
	// 	}

	// 	&:active {
	// 		color: var(--entry-header--color-link);
	// 	}
	// }

	@include media(mobile) {
		font-size: 64px;
	}
	@include media(laptop) {
		font-size: 120px;
	}
}
