.entry-meta,
.entry-footer {

	color: var(--color-foreground);
	clear: both;
	float: none;
	font-size: var(--font-size-xs);
	display: block;

	> span {
		display: inline-block;
		margin-right: rem(24px);

		& > *,
		span .fn {
			display: inline-block;
			vertical-align: middle;
		}

		&:last-child {
			margin-right: 0;
		}

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	.svg-icon {
		fill: currentColor;
		position: relative;
		display: inline-block;
		// vertical-align: top;
		margin-right: rem(8px);
	}
}

// Extra specificity to override rules in _vertical-margins.scss
.site-main > article > .entry-footer {
	margin-top: rem(24px);
	padding-top: rem(16px);
	border-top: 2px solid var(--color-foreground);

	// Remove the border if the homepage's main footer is also hidden.
	.home.page.hide-homepage-footer & {
		border-width: 0;
	}
}
