.wp-block-code {
	color: var(--color-foreground);
	font-size: var(--font-size-xs);
	padding: rem(24px);
	border: rem(1px) solid var(--color-foreground);
	border-radius: rem(3px);

	pre {
		color: var(--color-foreground);
	}
}
