table,
.wp-block-table {
	width: 100%;
	min-width: rem(240px);
	border-collapse: collapse;


	thead {
		border-bottom: 3px solid currentColor;
	}

	th {
		font-weight: 600;
	}

	td,
	th {
		padding: calc( 0.5 * #{rem(16px)} );
		border: rem(1px) solid;
		word-break: break-all;
	}
	
	a {
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: all .1s ease-in-out;

		&:hover,
		&:focus {
			border-bottom-color: transparent;
			color: var(--color-background);
			background: var(--color-foreground);
			box-shadow: 0 rem(-1px) 0 .5em var(--color-foreground);
		}
	}
}
