p {
	line-height: 1.5;

	@include break-xs {
		line-height: 1.7;
	}
	@include break-m {
		line-height: var(--wp--typography--line-height, 1.9);
	}

	&.has-background {
		padding: rem(8px) rem(16px);
	}
}
