ul,
ol {
	margin: 0;
	padding-left: rem(40px);

	@include break-xs {
		padding-left: rem(80px);
	}

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
	}

	&.alignright {
		list-style-position: inside;
		text-align: right;
		padding: 0;
	}

	.entry-content & li {
		margin-bottom: rem(24px);
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

dt {
	font-family: var(--font-family-display);
	font-weight: 600;
}

dd {
	margin: 0;
	padding-left: calc(2 * #{rem(40px)});
}

.block-editor-block-list__block,
 {
	a {
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		transition: all .1s ease-in-out;

		&:hover,
		&:focus {
			border-bottom-color: transparent;
			color: var(--color-background);
			background: var(--color-foreground);
			box-shadow: 0 rem(-1px) 0 .5em var(--color-foreground);
		}
	}
}