// .sticky {

// }

.sticky-post {
	color: var(-color-background);
	background-color: var(--color-2);
	font-family: var(--font-family-serif);
	font-size: var(--font-size-xs);
	line-height: 1;
	padding: rem(8px) rem(16px);
}

// .updated:not(.published) {

// }

// .entry {

// }

.page-template-pageDark .site-main {
	background: var(--color-background);
	color: var(--color-foreground);
}

.page-template-pageFancy {
	.entry-header {
		background: url("./assets/img/logo-leaves-dark.png") no-repeat center bottom;
		padding-bottom: rem(20px);
		background-size: rem(120px) auto;
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
			background-image: url("./assets/img/logo-leaves-dark_2x.png");
		}
		@include break-m {
			padding-bottom: rem(24px);
		background-size: rem(160px) auto;
		}
		@include break-l {
			padding-bottom: rem(50px);
			background-size: rem(320px) auto;
		}
	}
}

.site-header .social-navigation {
	display: none;
}