// .sticky {

// }

// .sticky-post {
// 	color: var(--global--color-background);
// 	background-color: var(--global--color-secondary);
// 	font-family: var(--global--font-secondary);
// 	font-size: var(--global--font-size-xs);
// 	line-height: 1;
// 	padding: calc(0.25 * var(--global--spacing-unit)) calc(0.33 * var(--global--spacing-unit));
// }

// .updated:not(.published) {

// }

// .entry {

// }

// PAGES
.page-template-pageDark .site-main {
	background: var(--global--color-background);
	color: var(--global--color-primary);
}

.page-template-pageFancy {
	.entry-header {
		background: url("./assets/img/logo-leaves-dark.png") no-repeat center bottom;
		padding-bottom: 20px;
		background-size: 120px auto;
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
			background-image: url("./assets/img/logo-leaves-dark_2x.png");
		}
		@include media(mobile) {
			padding-bottom: 24px;
		background-size: 160px auto;
		}
		@include media(laptop) {
			padding-bottom: 50px;
			background-size: 320px auto;
		}
	}
}

.site-header .social-navigation {
	display: none;
}