.wp-block-image {
	text-align: center;
	max-width: none !important;

	&.alignfull {
		@extend %responsive-alignfuller-width;
	}

	figcaption {
		color: var(--color-foreground);
		font-size: var(--font-size-xs);
		line-height: 1.9;
		margin-top: rem(8px);
		margin-bottom: rem(8px);
		text-align: center;
	}

	.alignright {
		margin-left: rem(24px);

		@include break-xs {
			margin-right: calc(-2 * var(--page-margin));
		}
	}

	.alignleft {
		margin-right: rem(24px);

		@include break-xs {
			margin-left: calc(-2 * var(--page-margin));
		}
	}
}

// Remove vertical margins from image block wrappers when floated
.entry-content > *[class="wp-block-image"],
.entry-content [class*="inner-container"] > *[class="wp-block-image"] {
	margin-top: 0;
	margin-bottom: 0;

	// Remove top margins from the following element when previous image block is floated
	& + * {
		margin-top: 0;
	}
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
